<section class="upcoming" aria-label="upcoming-appointments">
  <h2>{{ 'client.appointments.upcoming' | translate }}</h2>

  @for (appointment of upcomingAppointments; track appointment.reservationId) {
    <div class="appointment-card" [ngClass]="{ 'past': !appointment.paymentStatus }">
      <div class="day">
        <strong>{{ formatDay(appointment.timeSlotStart) }}</strong>
      </div>
      <div class="details">
        <div class="time">
          {{ isToday(appointment.timeSlotStart) ? 'Today' : '' }}
          {{ formatTime(appointment.timeSlotStart) }}
        </div>
        <div class="type">
          {{ appointment.tipo }}
        </div>
      </div>
    </div>
  }
</section>
