.header {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 10%; /* Ajusta este valor para moverlo más a la izquierda o al centro */
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid white;
  object-fit: cover;
}

.text-info h2 {
  margin: 0; /* Elimina espacio por defecto en los encabezados */
  font-size: 1.5rem; /* Tamaño de fuente grande para el nombre */
  color: black;
  background-color: #90caf9;
  padding: 0.5rem;
  border-radius: 10px;
}

.rating {
  margin: 0.5rem 0 0 0; /* Espaciado superior del rating */
  font-size: 1.2rem; /* Tamaño de fuente para la calificación */
  color: white;
  background-color: #90caf9;
  padding: 0.5rem;
  border-radius: 10px;
}
.socials {
  margin-top: 1.5rem;
  display: flex; /* Distribuye horizontalmente los links */
  justify-content: center;
  gap: 2rem; /* Espacio entre cada link */
}

.socials a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Espacio entre icono y texto */
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
}

.socials a:hover {
  text-decoration: underline;
}
