<form class="register-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="register-container" aria-label="login section">
    <div class="brand-head">
      <img src="/uTimee.png" alt="uTime" class="brand-logo">
      <span class="brand-name">uTime</span>
    </div>

    <h1 class="title">{{ 'login.title' | translate }}</h1>
    <p class="subtitle">
      {{ 'login.subtitle' | translate }}
      <a routerLink="/iam/register" class="login-link">{{ 'login.register' | translate }}</a>
    </p>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ 'login.email' | translate }}</mat-label>
      <input matInput type="email" formControlName="email" placeholder="" aria-label="email input field">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ 'login.password' | translate }}</mat-label>
      <input matInput type="password" formControlName="password" placeholder="" aria-label="password input field">
    </mat-form-field>

    <button class="u-btn-gradient login-btn" type="submit" aria-label="login button">
      {{ 'login.logIn' | translate }}
    </button>

    <p *ngIf="loginError" class="error">{{ 'login.error' | translate }}</p>
  </div>
</form>
