.main-layout {
  display: flex;
  flex-direction: column;
  height: auto; /* o quitar height completamente */
}

app-sidebar {
  width: 250px; /* Ancho fijo del sidebar */
  background-color: #f0e6f6; /* Color de fondo para pruebas */
}

.content {
  flex: 1; /* Ocupa el espacio restante */
  padding: 2rem;
  background-color: #f9f9f9; /* Fondo del contenido */
  overflow-y: auto;
  align-items: center;
  min-height: 100%; /* o 100vh si quieres ocupar toda la pantalla */

}

