<section class="settings-page">
  <div *ngIf="isLoading" class="state-panel">
    <mat-spinner diameter="44"></mat-spinner>
    <span>{{ 'dashboard.loadingSettings' | translate }}</span>
  </div>

  <div *ngIf="!isLoading && errorMessage" class="state-panel error" role="alert">
    <mat-icon>error_outline</mat-icon>
    <span>{{ errorMessage }}</span>
  </div>

  <ng-container *ngIf="!isLoading && !errorMessage">
    <app-settings [profile]="profile"></app-settings>
    <app-settings-password [profile]="profile"></app-settings-password>
  </ng-container>
</section>
