.service-card {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: linear-gradient(135deg, #f9f9f9, #f1c8ff);
  border-radius: 20px;
  padding: 1.5rem 2rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
}

.card-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-left h3 {
  margin: 0;
  font-size: 1.3rem;
  color: #41216e;
}

.description {
  color: #444;
  font-size: 0.95rem;
  margin-top: 1rem;
  line-height: 1.5;
}

.card-right {
  flex: 1;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.duration-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  background: transparent !important;

}

.duration,
.price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #3b3939 !important;
  padding: 0.6rem 1.2rem;
  border-radius: 16px;
  font-weight: bold;
  font-size: 1rem;
  min-width: 140px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  background: transparent !important;

}

.card-right button {
  font-weight: 500;
  padding: 0.6rem 1.5rem;
  border-radius: 12px;
  color: #f1f1f1 !important;
  background: #6a1b9a !important;
}
