<section class="appointments-section">
  <h2 class="title decorated-title">{{'client.appointments.appointments' | translate}}</h2>

  <div class="appointments-content">
    <div class="appointments-left">
      <div class="group">
        <h3 class="group-title decorated-subtitle" aria-label="appointment-list">Tomorrow</h3>
        <ng-container *ngFor="let appointment of appointments; trackBy: trackById">
          <app-appointments-item [appointment]="appointment"></app-appointments-item>
        </ng-container>
      </div>
    </div>

    <div class="appointments-right" aria-label="client-review-list">
      <app-review-list-client [reviews]="reviews"></app-review-list-client>
    </div>
  </div>
</section>
