<div class="iam-form-pane">
  <div class="register-center-content">
    <!-- Selector de tipo de registro -->
    <mat-button-toggle-group
      [(ngModel)]="isProvider"
      (ngModelChange)="toggleForm($event)"
      name="registerType"
      aria-label="choose register type"
      class="register-toggle-group"
      [hideSingleSelectionIndicator]="true"
    >
      <mat-button-toggle [value]="false">{{ 'register.Client' | translate }}</mat-button-toggle>
      <mat-button-toggle [value]="true">{{ 'register.Provider' | translate }}</mat-button-toggle>
    </mat-button-toggle-group>

    <!-- Render dinámico del formulario -->
    <div class="register-container" aria-label="register form" [@formSwap]="isProvider">
      <app-register-form-client *ngIf="!isProvider"></app-register-form-client>
      <app-register-form-provider *ngIf="isProvider"></app-register-form-provider>
    </div>
  </div>
</div>
