<mat-card class="example-card" appearance="outlined" style="margin: 3rem" aria-label="Change password card">
  <mat-card-header>
    <mat-card-title>Change Password</mat-card-title>
  </mat-card-header>
  <br>
  <mat-card-content>
    <table>
      <tr>
        <td>E-Mail</td>
        <td>{{profile.email}}</td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td>Current Password</td>
        <td>
          <mat-form-field class="example-form-field" aria-label="Current password input field">
            <mat-label>Clearable input</mat-label>
            <input matInput type="text" [(ngModel)]="currentPassword" aria-label="Current password">
            @if (currentPassword) {
              <button matSuffix mat-icon-button aria-label="Clear current password" (click)="value=''">
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>New Password</td>
        <td>
          <mat-form-field class="example-form-field" aria-label="New password input field">
            <mat-label>Clearable input</mat-label>
            <input matInput type="text" [(ngModel)]="value" aria-label="New password">
            @if (value) {
              <button matSuffix mat-icon-button aria-label="Clear new password" (click)="value=''">
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td><button mat-button (click)="updatePassword()" aria-label="Save password change">Save Change</button></td>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-footer class="example-card-footer">

  </mat-card-footer>
</mat-card>
