<mat-card class="staff-item" aria-label="staff-item">
  <div class="staff-content">
    <img class="staff-image" [src]="worker.photoUrl" alt="Staff photo" />

    <div class="staff-info">
      <div class="staff-name">{{ worker.name }}</div>
      <div class="staff-role">{{ worker.specialization }}</div>
    </div>

    <div class="staff-action" aria-label="staff-button">
      <button mat-button color="primary">
        {{ 'dashboard.viewSchedule' | translate }} <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
