<h2 mat-dialog-title aria-label="New Service">Nuevo Servicio</h2>
<mat-dialog-content aria-label="Service form content">
  <!-- Nombre del servicio -->
  <mat-form-field appearance="fill" class="w-full" aria-label="Service name input">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="service.name" required aria-label="Service name" />
  </mat-form-field>


  <!-- Duración -->
  <mat-form-field appearance="fill" aria-label="Service duration input">
    <mat-label>Duración (minutos)</mat-label>
    <input matInput type="number" min="1" [(ngModel)]="service.duration" required aria-label="Duration in minutes" />
  </mat-form-field>

  <!-- Precio -->
  <mat-form-field appearance="fill" aria-label="Service price input">
    <mat-label>Precio</mat-label>
    <input matInput type="number" min="0" [(ngModel)]="service.price" required aria-label="Price" />
  </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions align="end" aria-label="Dialog actions">
  <button mat-button (click)="cancel()" aria-label="Cancel">Cancelar</button>
  <button mat-flat-button color="primary" (click)="submit()" aria-label="Create service">Crear</button>
</mat-dialog-actions>
